In [2]:
import pandas as pd

/var/folders/j3/qx5h6t493gz28czw4p9xgw2w0000gn/T/ipykernel_3749/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv("berlin-data/AusEx_Pankow_2023.csv", low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1686923 entries, 0 to 1686922
Data columns (total 21 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   Mediennummer                  1686923 non-null  int64
 1   Titel                         1607259 non-null  object
 2   Autor:in                      1468451 non-null  object
 3   Veröffentlichungsjahr         1594862 non-null  float64
 4   Fächerstatistik               1686923 non-null  object
 5   Fächerstatistik2              1686923 non-null  object
 6   Sachgruppe                    1686777 non-null  object
 7   Untergruppe                   541742 non-null   object
 8   Medientypcode                 1686923 non-null  object
 9   Sigel besitzende Bibliothek   1686923 non-null  int64
 10  Sigel ausführende Bibliothek  1045065 non-null  object
 11  Inventarisierungsdatum        1642496 non-null  object
 12  Benutzergruppe                1686895 non-null  object
 13  Geschlecht                    1625353 non-null  object
 14  Altersgruppe                  1623409 non-null  object
 15  Teilverkehrszelle             1460153 non-null  float64
 16  Bezirk                        1497458 non-null  object
 17  Ausleihtyp                    1686923 non-null  object
 18  Arbeitsplatznummer            1045171 non-null  object
 19  Monat                         1686923 non-null  int64
 20  Uhrzeit                       1686923 non-null  int64
dtypes: float64(2), int64(4), object(15)
memory usage: 270.3+ MB

In [4]:
df.head()

,Mediennummer,Titel,Autor:in,Veröffentlichungsjahr,Fächerstatistik,Fächerstatistik2,Sachgruppe,Untergruppe,Medientypcode,Sigel besitzende Bibliothek,...,Inventarisierungsdatum,Benutzergruppe,Geschlecht,Altersgruppe,Teilverkehrszelle,Bezirk,Ausleihtyp,Arbeitsplatznummer,Monat,Uhrzeit
0,42650,Bonjour tristesse : Roman,"Sagan, Françoise",1996.0,Schöne Literatur,Erwachsene,Roman,NaN,Buch,650,...,NaN,Bibliothekspersonal,W,25-39,NaN,NaN,A,Selbstverbucher 650/002,8,18
1,42650,Bonjour tristesse : Roman,"Sagan, Françoise",1996.0,Schöne Literatur,Erwachsene,Roman,NaN,Buch,650,...,NaN,Bibliothekspersonal,W,25-39,NaN,NaN,T,NaN,9,10
2,42979,NaN,NaN,NaN,Sachliteratur,Kinder,4.3/Erd,540,Buch,975,...,NaN,Erwachsene,W,40-54,1312.0,Friedrichshain-Kreuzberg,T,NaN,1,10
3,42979,NaN,NaN,NaN,Sachliteratur,Kinder,4.3/Erd,540,Buch,975,...,NaN,Erwachsene,W,40-54,1312.0,Friedrichshain-Kreuzberg,T,NaN,2,12
4,97973,"Persönlichkeitstheorien : Freud, Adler, Jung, ...","Pervin, Lawrence A.",1993.0,Sachliteratur,Erwachsene,Psy,520,Buch,971,...,NaN,Erwachsene,M,40-54,NaN,NaN,T,Selbstverbucher 109a/002,12,14

In [8]:
# alle zeile mit ausleihtyp == "T" löschen, weil das erfolglose ausleihen waren
df = df[df['Ausleihtyp'] != 'T']

In [11]:
df.Mediennummer.value_counts()

Mediennummer
4732468457    98
3641866457    58
4716196457    55
5858691457    51
4716211457    47
              ..
3406212457     1
2080345457     1
2080361457     1
4485519457     1
42650          1
Name: count, Length: 260780, dtype: int64

In [15]:
df.loc[df["Mediennummer"] == "4732468457"]

Empty DataFrame
Columns: [Mediennummer, Titel, Autor:in, Veröffentlichungsjahr, Fächerstatistik, Fächerstatistik2, Sachgruppe, Untergruppe, Medientypcode, Sigel besitzende Bibliothek, Sigel ausführende Bibliothek, Inventarisierungsdatum, Benutzergruppe, Geschlecht, Altersgruppe, Teilverkehrszelle, Bezirk, Ausleihtyp, Arbeitsplatznummer, Monat, Uhrzeit]
Index: []

[0 rows x 21 columns]